extends layout

block content
  h1= title
  p Welcome to #{title}
  
  h2 Application
  div
    ul
      li Name: #{info.app.name}
      li Version #{info.app.version}

  h2 UPS
  div
    ul
      each svc in info.services["user-provided"]
        li= svc.name
          ul
            each key, index in info.listProps(svc.name)
              li #{key.name}: #{key.value}

    script.
      console.log(!{JSON.stringify(info)})
